.side-bar-menu {
    display: flex;
    flex: 1;
}

.side-bar-menu__link {
    width: 100%;
    background-color: var(--color-light-dark-background);
}

.side-bar-menu__link-content {
    display: flex;
    flex: 1;
    height: 50px;
    align-items: center;
    padding-left: 10px;
}

.side-bar-menu__label {
    color: var(--color-light-font);
}