.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dashboard__kpi-container {
    display: flex;
    flex: 1;
}

.dashboard__agent-map-wrapper {
    display: flex;
    flex: 4;
    margin: 10px 10px 0 10px;
}

.dashboard__agents-container {
    display: flex;
    flex: 1;
    min-width: 200px;
}

.dashboard__map-container {
    display: flex;
    flex: 4;
    margin-left: 15px;
    padding: 5px;
    background-color: var(--color-base);
}